.popup__input {
  border: none;
  margin-bottom: 5px;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
 
}
@media (max-width: 644px) {
  .popup__input {
    margin-bottom: 27px;
    line-height: 15px;
    padding-bottom: 9px;
  }
  .popup__input:first-child {
    margin-bottom: 31px;
    padding-bottom: 10px;
  }
}
