.popup__save-button {
  width: 358px;
  min-height: 46px;
  margin-top: 18px;
  border: none;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  font-weight: 400;
  border-radius: 2px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}
.popup__save-button:hover:hover {
  opacity: 0.8;
}
@media (max-width: 644px) {
    .popup__save-button{
        font-size: 14px;
        line-height: 17px;
        width: 238px;
      }
}